/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 70px;
  width: 70px;
}

.container {
  width: 302px;
  height: 302px;
  position: absolute;
  top: 20%;
  left: 20%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.mini-container {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
